[2020-03-07 16:35] alewin opened #2 "useWorker gif demonstration"
![Registrazione-schermo-2020-03-07-alle-17 20 55 (1)](https://user-images.githubusercontent.com/980844/76147150-8a03f780-6099-11ea-9df7-1a8f25d5982a.gif)

[2020-03-07 16:35] #2 closed

[2020-03-10 20:54] alewin opened #7 "Add fallback for old browser"
run the function without web workers if `window.Worker === undefined`

[2020-03-10 20:55] alewin opened #8 "add multiple worker support"

[2020-03-10 20:56] alewin opened #9 "add timout options"

[2020-03-10 20:57] alewin opened #10 "add docs"

[2020-03-10 20:57] alewin opened #11 "import external scripts"

[2020-03-11 20:25] alewin commented on #11
Solved, PR: https://github.com/alewin/useWorker/pull/12

[2020-03-11 20:25] #11 closed

[2020-03-11 20:25] alewin commented on #9
Solved, PR: https://github.com/alewin/useWorker/pull/12

[2020-03-11 20:25] #9 closed

[2020-03-13 00:17] alewin opened #16 "EXPORT DEFAULT ISSUE"
**WRONG:**
[code]

**SOLUTION:**
[code]

[2020-03-13 20:08] alewin commented on #16
Solved `2.0.6`

[2020-03-13 20:08] #16 closed

[2020-03-13 20:09] alewin commented on #10
Docs added https://github.com/alewin/useWorker/pull/13

[2020-03-13 20:09] #10 closed

[2020-03-13 20:10] alewin commented on #7
probably not necessary
https://caniuse.com/webworkers

[2020-03-13 20:10] #7 closed

[2020-03-15 10:21] Pigotz opened #18 "Consider a TypeScript support"
It would be nice to have a **TypeScript** support in order to reach a larger number of code bases

[2020-03-17 19:37] alewin commented on #18
I added the typescript support using a simple `index.d.ts` types definition:

[code]

Could you give me some feedback @Pigotz ?
I've done some tests with a typescript project and everything is working correctly ;)

Pull Request: https://github.com/alewin/useWorker/pull/19

[2020-03-19 12:25] #18 closed

[2020-03-21 00:50] grdnrt opened #21 "Worker runtime errors are not handled"
Hey @alewin really cool hook! I specially liked how you managed to pass functions directly to the hook without an intermediate file :)

I was playing a bit and I notice that it's not handling runtime errors that occur inside the worker. Even if I enclose the resulting promise in a try/catch:

[code]

[Here](https://codesandbox.io/s/jovial-smoke-np43v) is a working sandbox.

What happens (locally--

[2020-03-21 16:30] vitormalencar opened #23 "error tring to parse csv"
Hi 👋 , nice project
small thing I just notice that  on the example pages there's a bug when you try to parse CSV to JSON

![Screen Shot 2020-03-21 at 17 29 44](https://user-images.githubusercontent.com/7741167/77231173-91e39180-6b99-11ea-916c-efbd0ebd8090.png)

[2020-03-21 17:07] vitormalencar commented on #23
I guess that [this](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=AQGwpgLsCWFgtgZ2AXmAOzAd2AQQE74CGAngBQCsADDVQJQBQwAxgPbqJToCu8ARmHzI0AbQB0E2AkQBdMfCIAHMmTqoAfE2DaAskQgALMQDMQrVvjJ7DY4ugAmreKuAAqYAEZatRtroBuIA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=true&timeTravel=false&sourceType=module&lineWrap=

[2020-03-22 08:10] #21 closed

[2020-03-23 10:39] IljaDaderko opened #26 "[Proposal] migrate library to TypeScript"
Would you consider migrating this library to typescript to ensure better type safety and prevent some bugs from future contributors? I've started using this hook and am in ❤️with how simple it is.

In order to do this following "Todos" are probably required:

- [x] Re-write source in TypeScript
- [ ] Configure something like [rollup](https://rollupjs.org/guide/en) to build js files for non typescr

[2020-03-23 11:43] alewin commented on #26
It would be great @IljaDaderko!!, and very useful, I totally agree 💯

In these days, I was started to write some tests in [Jest](https://jestjs.io/).
Honestly I started studying typescript recently but I'll try to do my best!

[2020-03-23 12:11] IljaDaderko commented on #26
Sweet, I'll start contributing bits and peaces latter this week / weekend 👍

[2020-03-27 08:16] IljaDaderko commented on #26
I think this can be closed by #27? Remaining checklist items might not be needed, as it looks they are handled by microbundle? cc @z4o4z

[2020-03-27 08:28] alewin commented on #26
yes, we could close this 👍

[2020-03-27 08:29] #26 closed

[2020-04-07 13:34] IljaDaderko opened #30 "Error's with async functions"
I was trying to debug this to find out the cause, but was unsuccessful, basically when `useWorker` is passed a simple function like this everything is working:

[code]

However, I was trying to utilise worker to load images in a worker i.e

[code]

I am getting a babel / webpack error:

[2020-04-08 08:48] alewin commented on #30
@IljaDaderko the error occurred during a development on `codesandbox.io` or in a normal react project?

[2020-04-08 08:52] IljaDaderko commented on #30
Development, when used inside next.js project.

[2020-04-11 10:11] alewin commented on #30
I did some tests @IljaDaderko and I haven't encountered the problem, is it possible that it runs differently using Next.js? : /

**A few notes:**

Running this function inside the **WebWorker**
[code]
I noticed that: by creating a `URL` with `createObjectURL` inside the **Web Worker**, the `url` stay alive as long as it has a reference, but since the result of the function performed with the worke

[2020-04-11 10:26] IljaDaderko commented on #30
I have tried it outside of next js environment and everything worked fine. So I'll close this issue and will investigate further. Likely some webpack config stuff I am missing.

[2020-04-11 10:29] #30 closed

[2020-04-11 17:59] JonatanSalas opened #33 "Why on each call to the worker the dependencies are re-fetched?"
Hi! First of all thanks for this awesome library!

I would like to ask something that I don't clearly understand. It's related to how the useWorker manages external dependencies.

I clearly don't understand why, but, when I make a recall to the function given from the useWorker hook, for some reason it re-calls o re-imports the dependencies array.

This behavior is also present in the external scr

[2020-04-12 19:31] alewin commented on #33
Thanks for reporting @JonatanSalas,  this is a serious problem...
I opened a PR with a possible solution, tomorrow I'll prepare a release candidate

[2020-04-13 08:26] alewin commented on #33
Hi @JonatanSalas  can you try the `@next` build with the bugfix?

### Install
`npm install @koale/useworker@next` ( or yarn )

### package.json
`"@koale/useworker": "^3.0.0-beta"`

[2020-04-13 12:32] JonatanSalas commented on #33
@alewin I'm on it!

[2020-04-13 14:10] alewin commented on #33
Great! Let me know

[2020-04-14 00:06] JonatanSalas commented on #33
@alewin I've updated to the v3.0.0-beta but I can see still the refetch behavior.

<img width="1440" alt="Captura de Pantalla 2020-04-13 a la(s) 21 04 26" src="https://user-images.githubusercontent.com/7697196/79172235-81a28900-7dca-11ea-8e55-7c283649f619.png">

I will check anyway if I've to optimize something from my component.

[2020-04-14 07:53] alewin commented on #33
Ok, I have now seen your code:
https://github.com/BlackBoxVision/react-qr-reader/blob/e48a2326f6ecb069dbcefb44a67ac92c8af21f65/src/QrReader/hooks/useQrReader.ts#L107
It's called in a loop and since the worker after finishing is killed (to save memory), the dependency is loaded several times, but perhaps there is a possible solution which I am working on.
I will keep you updated :)

[2020-04-14 13:55] JonatanSalas commented on #33
Thank you @alewin! If you need anything just let me know.

[2020-04-14 19:36] alewin commented on #33
Good news!! 🎉I found a non-invasive solution, passing an additional parameter to prevent the worker from being "killed" each time.

I'm busy right now, but in 3 hours I will prepare a new RC

[2020-04-15 19:13] alewin commented on #33
Hi @JonatanSalas can you try the [@next](https://www.npmjs.com/package/@koale/useworker/v/3.0.0-beta.2) build with the bugfix?

### Install
[code]

---

**Snippet**
[code]

setting `autoTerminate: false` the worker stays alive until the `clearWorker` function is called.

---

I suggest you kill the worker on component unmount, when `autoTerminate` is `false`:

[code]

[2020-04-16 09:38] alewin opened #36 "Proposals for 3.0.0"
These are 3/4 braking changes that I would like to introduce in version: `3.0.0`

I chose to transcribe them so if someone wants to participate or give an opinion we can discuss it together 😃@IljaDaderko @Pigotz @gonzachr  @JonatanSalas @z4o4z

----

## PROPOSAL 1 - remove killWorker

remove `killWorker` from the values returned by the`hook`, and manage the status through a `controller`

**Before:

[2020-04-16 09:48] IljaDaderko commented on #36
Makes total sense to me 👍

I think keeping it as a "reactive" status makes more sense, users might want to do something (update ui) when worker status changes?

I'd prefer local dependencies, seems cleaner and more expressive, also if function is reused in multiple places, you won't need to pass dependencies to it multiple times, just once when defining the hook.

I think multiple `useWorker` hook

[2020-04-16 11:24] JonatanSalas commented on #33
@alewin I'll be trying it today and letting you know. Thank you very much for your work!

[2020-04-16 12:39] #8 closed

[2020-04-16 17:02] Pigotz commented on #36
# Proposals 1 and 2

I totally agree with @IljaDaderko.

# Proposal 4

This is cool! But I think we are mixing a lot of stuff together here: do you want a higher level API around multiple workers with different scopes or something to manage a Thread Pool?

## Multiple workers, different scope

This might be a simple code snippet inside the documentation: you could just prepare something ready to b

[2020-04-17 01:22] grdnrt commented on #36
Hey, some nice proposals here! And great comments so far.

**On Proposal 2**:

As @IljaDaderko, I'll go for maintaining the reactiveness of the status.

From the top of my mind (could be flawed), we could be able to achieve the DX gains while maintaining reactiveness by exposing a plain object instead of an instance, e.g:

[code]

Where status will be the actual state. And we could also add `killW

[2020-04-17 06:44] z4o4z commented on #36
hey, the proposals look really interesting, some notes I would like to mention:

personally I agree with @IljaDaderko that "reactive" status makes more sense, so my idea here is to leave the status as is(the second item of the array) and add worker controller as the third item. OR we can remove `status` and add `useStatus` method(subscribes to the status updates under the hood) to the controller.

[2020-04-17 07:24] Pigotz commented on #36
@grdnrt I appreciate when someone cares about DX :muscle:

[2020-04-22 20:54] alewin opened #37 "Proposal: Inline dependencies options"
Main thread https://github.com/alewin/useWorker/issues/36

[2020-04-22 20:54] alewin opened #38 "Proposal: useWorkers hook"
Main thread: https://github.com/alewin/useWorker/issues/36

[2020-04-22 20:57] alewin commented on #36
### PROPOSAL 1 - killWorker [Approved]

- 👍 IljaDaderko, Pigotz, grdnrt, z4o4z

**Solution**: Reaplce kill worker with `controller`
**PR:** https://github.com/alewin/useWorker/pull/39

---

### PROPOSAL 2 - workerStatus [Rejected]

- 👎IljaDaderko, Pigotz, grdnrt, z4o4z

**Solution  (grdnrt)**: mantein "reactive" status:
`const [useWorker, { status, kill }] = useWorker(sortDates, options)`
**PR:**

[2020-04-22 21:22] alewin commented on #33
Hey @JonatanSalas any news? :)

[2020-05-04 13:50] zant opened #41 "Testing useWorker"
Since they are plans to add new features (#36) I started to work in adding some tests for the hook. I initially setup [Jest](https://jestjs.io/) with [react-hooks-testing-library](https://github.com/testing-library/react-hooks-testing-library). But found that Jest (which uses [jsdom](https://github.com/jsdom/jsdom)) does not have an implementation for [URL.createObjectURL](https://github.com/jsdom

[2020-05-04 18:56] alewin commented on #41
Perfect analysis @gonzachr thanks! 👏 I like the first option (karma approach), since it's based on a headless browser, moreover `react-hooks-testing-library` is really simple to use.

[2020-05-04 20:20] gonzachr commented on #41
Awesome @alewin! I'll open a PR later today 👍

[2020-05-05 15:41] gonzachr commented on #41
Admittedly at first I just tried the first preprocessing option I found. Today I will make a few experiments with rollup as I found another [karma preprocessor](https://github.com/jlmakes/karma-rollup-preprocessor) compatible with it. I heard good things about rollup specially for libraries so I think is a nice option, becase it really feels a bit bloated to add Webpack just for testing. Specially

[2020-05-06 14:30] mquandalle opened #43 "How to keep global state in a worker ?"
Hello,

I'm trying to convert an existing worker using the `postMessage` API. This worker has some global state that is initialized with the first message, and used in subsequent calls:

[code]

The goal is that the search happen in the worker. I've tried writing a high order `useWorker` function but it's not clear to me what is run in the worker, and what's the best way to write such a flow (firs

[2020-05-06 17:22] gonzachr commented on #43
Hi @mquandalle! At the moment we do not support global variables. This is because when you pass a function to `useWorker` like this:

[code]
The function is directly attached to the `onmessage` method on the Web Worker. Thus, you cannot set anything outside that method. However, I agree it will be a nice feature to have so expect to have it in future versions 😉

For the time being, this is the sug

[2020-05-06 17:29] mquandalle commented on #43
Thank you for your answer.

Actually `new Fuse()`  is expensive (it build indexes, etc.) so we don't want to call for every search (we use it on a input field, where `search` is called on every press). That's why we do a first call to the worker (to build the cache) and then we only call `fuse.search` which is fast.

I'm under the impression that I can't replicate this model with `useWorker`.

[2020-05-06 18:47] gonzachr commented on #43
No problem! And you're right, with the current version of the package we cannot set global state.

However, this is a really good use case so I just opened a PR #45 which will provide this functionality. Hopefully we can merge it and prepare a release candidate. Thanks for reporting!

[2020-05-06 19:38] alewin commented on #43
The only solution at the moment is the one described by @gonzachr 👍 or https://github.com/alewin/useWorker/pull/45#issue-414265666  (more efficient)

---

I'd like to implement a version that uses higher order functions:

**Pseudo-example:**

[code]
**Usage**
[code]

## is it currently possible?
Not natively because `postMessage` uses [Structured clone algorithm](https://developer.mozilla.org/en-U

[2020-05-06 20:46] jimvermillion opened #46 "Question: Are Transferables supported as input or return values from worker?"
Hi, I was wondering if [Transferables](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers#Passing_data_by_transferring_ownership_transferable_objects) were supported in this api.

My use case is passing in some data to a worker and passing back a TypedArray or set of TypedArrays back to the react component.

Thank you for your time!

[2020-05-09 17:33] alewin commented on #46
Hi @jimvermillion, it should work

this is the list of supported types:
|Object type|Notes|
|--- |--- |
|All primitive types|However, not symbols.|
|Boolean objects||
|String objects||
|Date||
|RegExp|lastIndex is not preserved.|
|Blob||
|File||
|FileList||
|ArrayBuffer||
|ArrayBufferView|Including other typed arrays.|
|ImageBitmap||
|ImageData||
|Array||
|Object|Only plain objects (e.g. from obje

[2020-05-09 18:05] alewin commented on #43
I'm trying to find a workaround to keep a reference to the function scope, but I don't know how feasible this is. 😬

[2020-05-09 19:04] gonzachr opened #47 "Proposal: Support for TransferList API"
Based on #46.

### Introduction

[Transferable Objects](https://developer.mozilla.org/en-US/docs/Web/API/Transferable) are objects that can be passed to different contexts. This is useful in cases where we don't want to rely on [structured cloning](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Structured_clone_algorithm) to pass data to a worker. Since this procedure _moves_ dat

[2020-05-10 09:01] alewin commented on #46
Sorry @jimvermillion I read the question very quickly (a misunderstanding).
@gonzachr wrote a very good proposal about this.: https://github.com/alewin/useWorker/issues/47

[2020-05-10 09:01] #46 closed

[2020-05-10 10:19] alewin commented on #47
Thanks for the explanation 👏, I have never used [Transferable](https://developer.mozilla.org/en-US/docs/Web/API/Transferable) before.

I was looking at a similar library: [greenlet](https://github.com/developit/greenlet/blob/master/greenlet.js#L24) ( very clean approach), trying to understand how they managed this case.

Greenlet checks if the variable is a "Transferable"
[code]
In this way, the l

[2020-05-10 23:15] gonzachr commented on #47
Hey @alewin! That's a great suggestion! I really like it, it solves most of the complexity and design of the API. Are you thinking to add this as a default or as an opt in with the new field in the options?

I'm just thinking because sometimes you don't want the optimization because the array on the main thread gets completely empty when transferred, which in some cases can or not be useful.

An e

[2020-05-11 19:11] alewin commented on #47
Yes, I agree, its better to have one more option and let user decide 👌

[code]

[2020-05-11 19:28] gonzachr commented on #47
Awesome! Then I think we are ready to move forward, great discussion 🎉

Are you good with starting the implementation? 😄

[2020-05-11 19:33] alewin commented on #47
Yes, It was helpful! 😅I'll take care of it!

[2020-05-11 19:36] gonzachr commented on #47
Awesome, looking forward to it 👌

[2020-05-12 20:32] alewin commented on #47
While I was implementing this feature, I had another doubt ...
If we want to check if what is passed to the web worker is a Transferable, it would be difficult to analyze all the parameters, or simply an object with nested Transferables.

**Example:**
[code]
**where demo is:**
[code]
Also I cant enable the `transferList` only for `buffer2`..

Your [Option 3](https://github.com/alewin/useWorker/iss

[2020-05-13 23:35] gonzachr commented on #47
Hey @alewin! Sorry couldn’t answer before, I found myself quite busy these days 😅

I see your concern. And I think we then have some considerations to make, in the sense that, we can still go ahead with your suggestion (I like it more than op3). But if the user wants some objects to get transferred, they should pass them as arguments. For example:

[code]

We then check all the arguments and trans

[2020-05-14 22:22] alewin commented on #47
No problem, unfortunately I'm busy these weeks too..

Yes. .to consider all possible edge cases we need to ship this feature 😅

Im working here: https://github.com/alewin/useWorker/tree/feature/ISSUE-47-transferable

[2020-05-20 21:48] #47 closed

[2020-06-30 07:16] aofong opened #59 "No OffscreenCanvas compatibility detection"
error info
`Unhandled Rejection (ReferenceError): OffscreenCanvas is not defined`

[2020-06-30 07:20] alewin commented on #59
@aofong are you using `useWorker 3.2.0` https://github.com/alewin/useWorker/pull/56?

[2020-06-30 07:26] aofong commented on #59
yes

[2020-06-30 07:30] aofong commented on #59
Used in nwjs, chrome version is 49

[2020-06-30 08:09] alewin commented on #59
it looks like NW has some problems with web worker
https://github.com/nwjs/nw.js/search?q=web+worker&type=Issues

I'll try to do some tests 🤔

[2020-06-30 08:15] aofong commented on #59
Thanks, I use useWorker@3.1.0 works fine

[2020-07-12 08:20] marco-m-alves opened #63 "_toConsumableArray2 ReferenceError in simple codesandbox example"
Hi there, I'm problem making a very basic mistake in trying to get useWorker to work. Any hints/pointers would be very helpful. Thank you.

Context:
I'm trying to use `useWorker` to parse large CSV files. Unfortunately, I've so far been unable to put a small example to work.

Problem:
The code sandbox example below gives the following error: `ReferenceError: Can't find variable: _toConsumableArray

[2020-07-12 09:46] alewin commented on #63
Hi @marco-m-alves, I don't understand why, but it seems to be a sandbox problem.
I ran the project locally and it works!

Here a [demo](https://demo-csv-useworker-ccg26vqbe.vercel.app/)

[2020-07-12 12:13] marco-m-alves commented on #63
The demo **does not work** on Safari Version 13.1.1 (15609.2.9.1.2) — although it works on Chrome Version 83.0.4103.116 (Official Build) (64-bit)

On Safari it get the following errors — see screenshots:

1. First time I press start
2. Second time I press start

![Screenshot 2020-07-12 at 13 11 58](https://user-images.githubusercontent.com/901408/87245893-46ebd380-c441-11ea-937c-91210cdae6ed.png)

[2020-07-12 17:22] #59 closed

[2020-07-12 17:30] alewin commented on #63
Thanks @marco-m-alves  for reporting the Safari bug, now it should be fixed in `3.2.1`  🚀

https://github.com/alewin/useWorker/releases/tag/3.2.1

[2020-07-28 12:45] lxfu1 opened #68 "async function error"
**[Required] Describe the bug**
异步函数报错

**[Optional] To Reproduce**
[code]

![image](https://user-images.githubusercontent.com/31396322/88666777-1bd8d380-d113-11ea-82cf-7fdf556e408d.png)

[2020-07-29 19:29] marco-m-alves opened #69 "Guidance on how to use local dependencies?"
Proposal 3 on https://github.com/alewin/useWorker/issues/36 mentions local dependencies

I would like to use local dependencies to avoid having long functions which are hard to test / debug.

I've tried to use the functionality but I get an `object can not be cloned error`.

Guidance or an example on how use local dependencies would be helpful. Thank you.

Code below — https://codesandbox.io/s/hop

[2020-07-31 19:01] marco-m-alves commented on #69
...
:)

[2020-08-08 21:20] afijal commented on #30
Did you find the root cause?

[2020-08-18 08:12] buitrbao222 opened #75 "Uncaught ReferenceError: _toConsumableArray2 is not defined/"
This error occurred when using spread syntax in the worker function.
When I tested the same function but with push, there was no error whatsoever.

Here's the codesandbox:
https://codesandbox.io/s/cocky-rosalind-9rw9j?file=/src/App.js

[2020-08-18 08:26] buitrbao222 opened #76 "Uncaught ReferenceError: _toConsumableArray2 is not defined/"
**[Required] Describe the bug**
Bug happens when using spread syntax in the function passed to useWorker.

**[Optional] To Reproduce**
Steps to reproduce the behavior:
1. Write a function that uses spread syntax
2. Pass that function to useWorker to create a worker
3. Run worker
4. See error

**[Required] Expected behavior**
The worker to run normally without errors.

**[Optional] Screenshots**
 I

[2020-08-18 08:27] #75 closed

[2020-08-26 11:07] JonatanSalas commented on #33
@alewin I've adjusted the code to use the latest version of your lib + `autoTerminate` prop. The component is working pretty neat now and only downloading the external script for once.

Thank you very much for this awesome library

[2020-08-26 11:07] #33 closed

[2020-08-26 14:09] gonzachr commented on #69
Oh you're exactly right @marco-m-alves, apologies... my bad! I completely forget about it.

The library is using the cloning algorithm internally when calling `postMessage` on the function passed to it. And per the [structured cloning algorithm ](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Structured_clone_algorithm) page on MDN:

Which is the exception we see in the sandbox.

[2020-08-26 15:25] marco-m-alves commented on #69
Thank you for your response. I’m really looking forward to use ˋuseWorkerˋ with this new feature.

[2020-08-29 00:29] zant opened #77 "RFC: Inline dependencies"
Hey everyone! I'm on my way to implement the Inline Dependencies feature from #37, which I decided to implement after a discussion on #69. (Details there).

I just finished the actual code and it's working just fine. However, there are small points on which I will be really glad to hear some opinions.

The first one is related to the way users will be accessing to the actual utils object, this is

[2020-08-29 00:30] gonzachr commented on #77
cc @marco-m-alves

Let us know what you think 😄

[2020-08-29 08:34] marco-m-alves commented on #77
Thanks for doing this so quickly.
How would this work in the use case where we have all of our util functions in specific js file/module and import those functions to make-up a complete processing function to be used within the `useWorker(...)` call?

[code]

[2020-08-29 13:53] gonzachr commented on #77
Hi @marco-m-alves! Good question.

That snippet will work just fine, you can inline the functions in the object passed to `localDependencies`

[code]
One thing that will definitely not work is to pass functions which depends on other functions or classes in the body. Because by the time the functions get evaluated, those will be missing on the worker side.
For example:

[code]

You will need to ex

[2020-08-30 13:31] alewin commented on #77
Sorry but for various personal reasons in the previous months, I was unable to take care of the library, issues and proposals..

Thanks for the support, and PR @gonzachr

---

It might seem a little tricky, but probably also the cleanest way... 👍

Another solution could be: modify the function prototype, but it's  alto very strange, and I don't like it very much. 👎

**Example:**

[code]

Will beco

[2020-08-30 23:57] gonzachr commented on #77
Hi @alewin no worries, thanks for the feedback :)

That's actually an interesting suggestion, it is said that tweaking prototypes is not that good of a practice, but considering that it's somewhat tricky to get stuff into the worker, I think it can work quite well. I'll try to do some experiments with that this next week, try some edge cases and things. I also want to see if the prototype call can

[2020-09-15 19:42] sulhadin opened #85 "Uncaught DOMException: Failed to execute 'postMessage' on 'Worker': An object could not be cloned"
A clear and concise description of what the bug is.

Uncaught (in promise) DOMException: Failed to execute 'postMessage' on 'Worker': capacityList => {
  console.log(capacityList);
  const capacityMap = {
    Total: {}
  };
  let i = 0;

  for (...<omitted>...
} could not be cloned.
    at http://localhost:8089/js/modules/npm.koale.bundle-1600196980210.js:16:3150
    at new Promise (<anonymous>)

[2020-09-16 09:46] konraddzbik opened #86 "Attempted import error: 'useWorker' is not exported from '@koale/useworker'."
There is a problem when we did try to use useWorker inside our react + TypeScript + webpack.
Does anyone have a similar problem? Maybe some additional configuration is required, but I cant figure o
ut.

[code]

[2020-09-27 09:36] AhmedSayed77 opened #87 "Add another example to solve 'variable not defined' error caused by transpiling"
**Is your feature request related to a problem? Please describe.**
I had a pure function that has no external dependencies that worked well in development, but throws a 'l is not defined' error in production. After some debugging that transpiling the code was the cause of this error, as  it inlined some dependency inside the body of my function. This was the function:
[code]

**Describe the soluti

[2020-09-27 09:36] AhmedSayed77 commented on #76
check if the solution mentioned in #87 fixes your issue

[2020-09-27 16:17] gonzachr commented on #87
Hi @AhmedSayed77, thanks for sharing this.

Would you mind sharing a bit more about your project setup? If you are using Babel or just Typescript and which options do you have enabled

[2020-09-27 16:30] gonzachr commented on #86
Hi @KonradCshark, can you share a bit more about your project setup? Normally, it should just work, here's a codesandbox example:

https://codesandbox.io/s/funny-feather-x930r

[2020-09-27 16:33] gonzachr commented on #85
Hi! Thanks for reporting.

Can you share your code or a minimal reproduction in a CodeSandbox or repo for us to take a look?

[2020-09-27 16:59] AhmedSayed77 commented on #87
I use create react app v3.4.3, so I have no control over the build setup. That's the reason this was the only solution available

[2020-09-27 17:08] gonzachr commented on #68
Hi @lxfu1! This error is ocurring because of transpiling being made on async functions, which is the case in CodeSandbox for example. Where the async function is converted to a generator with Babel.

This is the error I get inside a try/catch in CodeSandbox: `ReferenceError: _asyncToGenerator2 is not defined`. This is similar to what's going on on #87. We will update the documentation to point thi

[2020-09-27 17:08] #68 closed

[2020-09-27 17:18] gonzachr commented on #87
Oh I see, we will add this as a caveat since some of the issues we're getting are of this nature.

To give a little insight, the approach of this library is moving the entire function to the worker side, so when if the function gets transpiled, variable definitions used by the transpiling tool get out of scope and thus undefined causing reference errors.

I'm not sure if there's something we can d

[2020-09-27 17:31] gonzachr commented on #87
[Known issues](https://github.com/alewin/useWorker#known-issues) added to README.

[2020-09-27 17:31] #87 closed

[2020-09-28 20:13] KonradCshark commented on #86
Sure, but I'm really new in bug/error reporting, what should I share to complete the issue description?
package.json or tsconfig? Maybe i did something wrong inside the project configuration?

I did try to use worker-loader and everything works fine- but not the way that is easy to read.

[2020-09-28 21:00] gonzachr commented on #86
Np! both will be useful, as it will be useful to see which version of `useWorker` you have installed. It may also be something related to where TS is looking for type definitions

[2020-10-10 03:59] lxmw001 opened #89 "Uncaught ReferenceError: p is not defined"
**[Required] Describe the bug**
A clear and concise description of what the bug is.
The dependency is working as expected when testing locally but when I test the application for prod using `yarn build` I got this error:
`Uncaught ReferenceError: p is not defined`

**[Optional] To Reproduce**
Steps to reproduce the behavior:
1. Run 'yarn build'
2. Run 'serve -s build'
4. Execute the web worker
5.

[2020-10-18 09:10] marco-m-alves commented on #77
Hi again. Any update on this? Thanks!

[2020-10-21 22:30] gonzachr commented on #77
Hi! @marco-m-alves sorry for not tuning in lately. I wasn't really able to get anything better than this proposal for this specific requirement.

The thing I tried to solve is the `utils` dep floating around which looks pretty weird, but haven't came up with anything better, as I think is a priority keep the library pretty minimal as it is, and posible solutions may introduce contexts or boilerpla

[2020-10-22 18:23] marco-m-alves commented on #77
Hi @gonzachr!

Thank you for the quick response.

I'm really looking forward to using this new feature.

[2020-10-24 13:34] alewin commented on #77
I agree! Unfortunately it remains a very difficult feature to implement :/
I will however release an alpha version with https://github.com/alewin/useWorker/pull/78
@marco-m-alves @gonzachr

[2020-10-24 21:06] gonzachr commented on #77
Great news! Can you guide us in this process? I'm not too familiarized @alewin

[2020-11-14 09:58] marco-m-alves commented on #77
Hi @alewin. Are we there yet? :)

Thanks again for the effort

[2020-11-14 10:58] alewin commented on #77
Sure! @zant
When publishing an npm package, you can associate a `tag`, by default the tag is `latest` so when you run the command `npm publish` the package will be available on `@koale/useworker`, in this case we want to create another `tag`, called `beta`.

The steps are:
- `npm login` login to npm
- `npm install && npm run build` create a build of `useWorker`.
-  edit `package.json` and `package

[2020-11-14 20:02] zant commented on #77
Awesome, thanks for the explanation and new release @alewin!

We can now go ahead and start testing it @marco-m-alves. And please let us know how it goes, feedback will be highly appreciated :)

[2020-11-20 06:50] hunght opened #93 "example for using remote web worker ( stockfish js)"
i try to use this lib https://github.com/nmrugg/stockfish.js/ as a web worker, but it not working. could you have the same example which using normal web worker like postMessage and onmessage, thanks in advance

[2020-11-20 12:31] alewin commented on #93
Of course, in the next few days I'll try to look at it

[2020-11-22 10:29] alewin commented on #93
HI @zant I was preparing a demo with "stockfish.js"

[code]

I noticed that the sotckfish library uses by default a communication with "postMessages": [API Docs](https://github.com/nmrugg/stockfish.js/).
Even if it would work it wouldn't make sense to call
[code]
inside `demoFN`.

---

**Proposal**

I thought that we could make available the possibility to import a webworker file as well.

[code]

[2020-11-22 16:45] marco-m-alves commented on #77
Thank you all for this effort. I’ll report back as soon as I’m able to test it out.

[2020-11-23 15:00] zant commented on #93
Killer feature! @alewin

Looks really good to me, with good docs on the webpack thingy I think it's good to go 👍

Also, FWIW there's an outgoing proposal (Stage 1) on [JS module blocks](https://github.com/tc39/proposal-js-module-blocks) it will basically let us inline modules in code and pass it around instead of requiring them as files. So if that gets through we will have two ways of doing this,

[2020-11-23 16:55] umernawaz0301 opened #94 "useWorker for Sockets"
Can I use useWorker for web sockets? does this library support web sockets?

[2020-11-24 16:08] zant commented on #94
Hi! @umernawaz0301 I would think so, as WebSockets in the client are mostly callback based, I will be surprised if there's an issue with that. Do you have any specific use case in mind?

[2020-12-08 04:35] 101arrowz commented on #77
@zant I've done something similar to this in my package [fflate](https://github.com/101arrowz/fflate) [here](https://github.com/101arrowz/fflate/blob/master/src/index.ts#L856-L876). That's a simplified version of my full findings; I actually found a way to support custom classes and instances of those classes, functions with any name, no need for a specific name for a wrapper object, etc. If you'd

[2020-12-09 15:46] zant commented on #77
Hi @101arrowz thanks for reaching out! I think any of them will be super cool and useful (package or summary). We can go with whatever you think will be best 👌

[2020-12-09 23:30] 101arrowz commented on #77
Alright, I'll work on a package for this because it's quite complex functionality and could probably be reused by other projects. Effectively, what it does is regenerate the source code for whatever dependencies the user specifies with some clever techniques such as `function.toString` and walking prototype chains. The key part is that it works both in development (i.e. without transpilation) and

[2020-12-10 19:59] 101arrowz commented on #77
@zant I've made a very basic prototype of what I was talking about at [101arrowz/isoworker](/101arrowz/isoworker). The `createContext` function accepts an array of dependencies with fixed names and returns a string that can be evaluated to recreate the dependencies in a worker context.

[code]
In practice, you'll embed the generated string into your worker with a Blob. I'll add functionality suppo

[2020-12-14 20:18] zant commented on #77
Hi @101arrowz, thanks for taking the time!

I've been playing with this on my machine and it's really cool. It definitely handles the encoding part way better than my naive implementation, and I also really liked the aspect which you mentioned as removing the need for specific names for wrappers.

I've tried to implement it in `useWorker` already to have a picture of how it will work but I'm havin

[2020-12-14 20:33] 101arrowz commented on #77
The package is compatible with IE10 and up. The issue with `worker_threads` is an easy fix: replace the first line of the file:
[code]
with
[code]
to resolve the issues. Most bundlers (Webpack, Parcel, Rollup) should support the way I configured it, which replaces the `node-worker` import with `worker` because the `"browser"` key of `package.json` specifies that replacement. However, some pure ESM

[2020-12-17 16:56] juansalvatore opened #97 "useWorker error when destructuring function arguments"
**[Required] Describe the bug**
When passing a function to useWorker that has argument destructuring I get the error shown on the screenshot.

**[Optional] To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/useworker-argument-destructuring-guznf
2. Click on "Run test"
3. See error

**[Required] Expected behavior**
Destructuring function arguments break the worker.

*

[2020-12-17 17:42] juansalvatore commented on #97
I'm also having issues composing functions because I get this error:
![image](https://user-images.githubusercontent.com/11010928/102523286-13f3de80-4076-11eb-8c7d-392f98ef5cb2.png)

[2020-12-21 10:38] 101arrowz commented on #77
@zant Did that end up working for you?

[2020-12-22 17:13] zant commented on #77
Hi @101arrowz! Sorry couldn’t answer before. It didn’t work yet, but I think it also maybe something with the way we're bundling, so I have to set time aside too look that up

[2021-01-10 00:19] marco-m-alves commented on #77
Hi again.

I've tried 4.0.0 beta with a simple example and it seems to work as intended.

See code here:
https://codesandbox.io/s/vigilant-varahamihira-cboen?file=/src/App.js

Thanks!

[2021-01-10 20:43] zant commented on #77
Hi @marco-m-alves thank you for testing it! Looking good 👌

And just to heads up, I've been working on the integration of the package made by @101arrowz which will allow us to write:

[code]

So we ditch using the confusing `utils`, in favor of `self` which is globally available both on web and worker land. And we will also be able to share objects, classes and other primitives around for free 👌

[2021-01-10 20:47] 101arrowz commented on #77
Yeah, I'll publish the package if you're on board with its design. I thought you had some issues with loading because of `worker_threads`, so I was holding off on publishing. I found a solution to the problem, so I'm going to publish with that fix.

Also of note is the fact that you don't explicitly need to use `self.something()` AFAIK. `self` is the global object in workers, so you can call it as

[2021-01-10 20:51] zant commented on #77
Wow that's so cool!  We really don't need to use `self` just tried it and works perfectly. Also thanks for the explanation 👍

Looking really good to me!

[2021-01-10 22:08] 101arrowz commented on #77
@zant, `isoworker` is on NPM. If something broke, just tell me and I'll see if I can fix it.

[2021-01-12 15:17] zant commented on #77
Great news, with the amazing lib made by @101arrowz we have now full support for local dependencies on useWorker!

Implementation and details on #98

[2021-01-12 15:42] zant commented on #97
Hi @juansalvatore! Thanks for reporting

This seems to be an issue with browser compatibility and transpiling. What is probably happening is that your build (and CodeSandbox's) is targeted to browsers previous to array destructuring so it gets transpiled and that invokes some functions which are not available on worker side. (The reference error mentioning babel you're seeing in the error message)

[2021-01-12 15:43] zant commented on #89
Hi! Would you mind to give us more information about your code and how you're passing it to the hook? Thanks!

[2021-01-12 15:44] zant commented on #41
Closing after #88

[2021-01-12 15:44] #41 closed

[2021-01-12 15:53] zant commented on #97
Let me see if I can make a repro locally and make changes from our side to make it work, or at least add some warnings

[2021-01-16 08:39] marco-m-alves commented on #77
As I'm now incorporating the new approach on a more real world case, I encountered 2 "issues" that would be very nice if they could be solved:

(1) "utils" function referencing other function locally within the "utils" module
(2) which include the case in which "utils" function is recursive

If this currently possible, please let me know.

[2021-01-16 08:50] 101arrowz commented on #77
If you're asking if it's possible to make nested functions work without listing dependencies, unfortunately no. If you have a function in a utils file that calls a function local to that file, you won't be able to workerize it because it's not possible to get the source string of the called function.

One possible way to solve this would be allowing objects passed into the dependency list to have

[2021-01-16 09:13] marco-m-alves commented on #77
Thanks. My case is the following:

The utils module has 3 functions for which I have separate unit tests
[code]

The worker function in the main code combines the 3 functions to produce the intended result:
[code]

It throws an error saying it can find `func2` (the function that is recursive).
Also, I would like to have the workerFn defined also in the utils module if possible.
Note: i'm using use

[2021-01-16 10:09] alewin commented on #77
I have published a news version of `useWorker` that use `isoworker`, based on https://github.com/alewin/useWorker/pull/98

[code]

link https://www.npmjs.com/package/@koale/useworker/v/3.3.0-beta

[2021-01-17 21:06] zant commented on #77
Hi @marco-m-alves, I think you'll get a much nicer implementation with the recently published version of useWorker noted above by @alewin 👍 It will be super cool if you try it and tell us how it went, thanks again!

[2021-01-19 17:15] marco-m-alves commented on #77
I'm getting a error on ansimple example where I just import useWorker
`Can't find variable: BigInt64Array`

See link here: https://codesandbox.io/s/keen-hill-5vl98?file=/src/App.js

[2021-01-19 17:54] alewin commented on #77
@marco-m-alves there isn nothing special inside you codesandbox... did you save? 🤔
[code]

regarding `Can't find variable: BigInt64Array` I think depends on "Safari""

![image](https://user-images.githubusercontent.com/980844/105073424-59496880-5a87-11eb-97a2-50bb9d3b1eb5.png)

Safari doesn't support `BigInt64Array` and `BigUint64Array` that is user by `isoWorker` ( here:
https://github.com/101arr

[2021-01-19 18:16] 101arrowz commented on #77
Yes, i can change that. I thought all browsers supported Uint64Array, guess I'll have to change it.

[2021-01-19 18:31] zant commented on #77
Dependency updated on #98 👍

[2021-01-19 18:46] alewin commented on #77
thanks @marco-m-alves,

and thanks @zant @101arrowz super fast! 🚀

release [beta2](https://www.npmjs.com/package/@koale/useworker/v/3.3.0-beta.2)

[code]

[2021-01-20 08:36] marco-m-alves commented on #77
I'm not being able to make 3.3.0-beta.2 work in a simple example — maybe i'm missing something obvious

`undefined is not an object (evaluating '(0, n.default).createContext')`

https://codesandbox.io/s/keen-hill-5vl98?file=/src/App.js

[2021-01-20 09:25] 101arrowz commented on #77
I think this is because the export is `.createContext`, not `.default.createContext`. In other words, this (currently used) is not legal:

[code]
but this is:
[code]

[2021-01-20 12:56] zant commented on #77
Oh sure! Just @ you at a small question there @101arrowz :)

[2021-01-22 18:10] marco-m-alves commented on #77
Hi again. Any news on the issue above?

If there is a new version available, I can test it over the weekend.

Thanks!

[2021-01-22 18:17] alewin commented on #77
Hi Marco, this weekend I'll try to fix the import issue, and i Will update you, thanks ;)

[2021-01-22 18:24] marco-m-alves commented on #77
@alewin Great! thanks!

[2021-01-23 10:58] alewin commented on #77
Hi @marco-m-alves  can you give me more information about your tests?

I created a repo using useWorker 3.3.0-beta.2 and seems to work
https://github.com/alewin/useworker-local-deps-demo

[2021-01-23 10:59] marco-m-alves commented on #77
The link for the test is here — I run it in Safari for Mac
https://codesandbox.io/s/keen-hill-5vl98?file=/src/App.js

[2021-01-23 11:07] alewin commented on #77
@marco-m-alves
can you try this link? http://useworker-localdeps.surge.sh/

source: https://github.com/alewin/useworker-local-deps-demo/blob/main/src/App.js

[2021-01-23 11:34] marco-m-alves commented on #77
It worked. Is it a problem with my code?

[2021-01-23 11:40] alewin commented on #77
Oh no, your code was correct 🆗 , i think it is a problem with `codesandbox`, there are other open "issues" regarding `codesandbox` but which I have not yet investigated 😞

[2021-01-24 18:34] alewin commented on #77
Released https://github.com/alewin/useWorker/releases/tag/3.4.0

[2021-01-24 18:34] #77 closed

[2021-03-14 09:45] leermao opened #104 "How use the lib by create-react-app??"
![image](https://user-images.githubusercontent.com/11629887/111064187-95300580-84ed-11eb-964d-0b4cd22d1009.png)

[2021-03-14 14:03] nassif7 commented on #104
it seems the latest version is not working ad this might be a bug!
try to install the previous version, it worked for me.

[2021-03-14 15:34] alewin commented on #104
there's a problem with the latest version, thanks for the report! As soon as we release the fix I'll warn you in this issue

[2021-03-15 00:06] leermao commented on #104
thank you

[2021-03-20 18:55] jer-sen opened #105 "Bad isoworker import"
**[Required] Describe the bug**
`isoworker` dependency does not provide a default import so `isoworker.createContext` raises an error from `index.mjs`.
I face this bug while using `expo-camera` bar code scanner on Web.

**[Required] Expected behavior**
No error.

`isoworker` should be imported as `import * as isoworker from 'isoworker'` here https://github.com/alewin/useWorker/blob/011d2a39be6c7e4

[2021-03-21 06:27] 101arrowz commented on #105
Yes, as I mentioned in the original PR, that needs to be `import { createContext } from 'isoworker'`.

[2021-03-21 09:53] jer-sen commented on #105
Yes but I think it won't work without the full path. Th solution should be:

[code]

But it's an extraneous import so it's dangerous (if isoworker build change).
That's why I asked a default export to `isoworker` for a perfect long term solution.

[2021-03-21 10:12] alewin commented on #105
I agree, for now I am temporarily removing `isoworker` and the `localdeps` feature, I'll release the new version very soon

[2021-03-21 10:40] 101arrowz commented on #105
No, the pure `isoworker` import works. The "exports" field enables it to automatically find "esm/browser.js", and this should function with all bundlers (Rollup, Parcel, Webpack, etc.) I have tested this extensively and have done this before in 101arrowz/fflate, so I'm sure it works. At worst it needs some bundler config changed.

[2021-03-21 11:16] jer-sen commented on #105
With `from 'isoworker'` `esm/browser.js` is found but since the import is not a precise file, only default export can be reached (which is `undefined`). Trying to import a specific export leads to error `Can't import the named export 'createContext' from non EcmaScript module (only default export is available)` cf https://github.com/alewin/useWorker/pull/98#discussion_r559237704

With `from 'isowo

[2021-03-21 12:26] 101arrowz commented on #105
Does `fflate/browser` work? I'm guaranteeing that `fflate/browser` remains stable for browser imports, so if it works that's all that's necessary.

[2021-03-21 12:50] 101arrowz commented on #105
BTW, consider trying this solution out: https://github.com/reactioncommerce/reaction-component-library/issues/399#issuecomment-467860022

[2021-05-06 10:32] vitorlans opened #108 "Error in RemoteDependencies with more than one"
Hello,

I was trying put to run my worker with more than one RemoteDependencies like below

![image](https://user-images.githubusercontent.com/5940943/117283761-fde88e00-ae5d-11eb-8512-cd9d198123be.png)

I got this error from console:

![image](https://user-images.githubusercontent.com/5940943/117284115-68013300-ae5e-11eb-911c-b1faca7d198b.png)

with just one RemoteDependencies it works
For now my

[2021-05-15 08:40] #108 closed

[2021-05-25 16:41] Kaywee27 commented on #97
@zant
Any update on this?

[2021-05-25 16:41] Kaywee27 commented on #85
@zant
Any update on this?

[2021-06-08 07:07] rodrigonzalz opened #112 "When will localDependencies return"
Migrating my app to NextJS I decided to move from comlink-loader to useWorker counting from the documentation that it had support for local dependencies; but I just found out that it was actually removed few weeks ago.
When can we expect to see this feature back? I really need it otherwise useWorker doesn't do it for me.

[2021-06-15 09:17] rodrigonzalz commented on #105
When will this be fixed so we can get the local dependencies back?

[2021-06-15 18:27] 101arrowz commented on #105
If `useWorker` is configured to use the ESM export from `isoworker`, rather than letting the bundler decide to use the CommonJS one, it will work properly.

[2021-06-15 20:26] alewin commented on #112
Hi @rodrigonzalz i'm working on it https://github.com/alewin/useWorker/pull/113

[2021-06-20 16:19] JoachimKoenigslieb commented on #112
Local dependencies would also help me out quite a bit!

[2021-07-08 16:05] conor909 commented on #105
Is this still being worked on?  Or is there a workaround?

[2021-08-03 15:36] zant commented on #104
Closing as I just tested it with the latest version.

Please let us know if this is still an issue

[2021-08-03 15:36] #104 closed

[2021-08-03 15:37] #89 closed

[2021-08-03 15:37] #94 closed

[2021-08-03 15:50] #69 closed

[2021-08-22 21:16] ricardona commented on #94
@umernawaz0301  If your want to reduce the server load, the best option is to use SharedWorkers

https://dev.to/ayushgp/scaling-websocket-connections-using-shared-workers-14mj

[2021-08-31 13:58] jordijansen opened #115 "Queue tasks or abort current task and start new task"
So I'm just getting my head around a problem I'm having with the useWorker hook. I currently call the worker in a useEffect hook but when the useEffect hook is triggered multiple times while the worker hasn't finished yet I'm getting the following error in the log:
[code]

The problem is I'm no longer interested in the result if the useEffect hook is triggered again so the worker should just abort

[2021-09-02 14:41] KbnCodes opened #116 "How can I use api calls in useWorker?"
**[Required] Describe the bug**
I need to get data from backend  and store that large amount of data to indexeddb , But issue is when iam using axios or fetch iam getting error , is there any other option to invoke api calls ?

"Uncaught ReferenceError: axios__WEBPACK_IMPORTED_MODULE_2___default is not defined"   --- this error getting when using axios ,

**[Required] Expected behavior**
is there

[2021-11-05 09:13] #43 closed

[2021-11-18 08:36] onursagir commented on #115
There is a kill method in the [controller api](https://useworker.netlify.app/docs/api-useworker#controller-api), but for me it doesn't kill when the status is PENDING so results may vary

[2022-01-22 19:57] MatanYemini opened #117 "Update to react 17"
I don't think that description is needed.

I don't mind to do, just update me if you allow.

Thanks.

[2022-02-24 11:34] gondar00 commented on #85
Facing same issue

[2022-03-01 17:50] cgarrovillo commented on #117
What do you think needs updating? AFAIK this is still compatible with React 17.

[2022-03-03 12:10] laphilosophia commented on #85
any news?

[2022-03-07 12:37] LorhanSohaky opened #118 "How to cancel de previous execution?"
I'm trying to use fuzzy search in a worker, but I'm having the following error:

Code:
[code]

[2022-03-09 12:54] cassm commented on #117
I believe I've run into the same issue here. As suggested in the error message, it does work fine with --legacy-peer-deps, so it's not critical.

Steps to reproduce: run `npm install --save @koale/useworker` in a project which uses React 17.0.2
Expected result: package installs
Actual result: receive the following error:
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While r

[2022-03-15 17:02] willh33 commented on #85
Hitting the same thing

[2022-04-09 14:46] VittorioAccomazzi commented on #117
Same issue with react 18:
[code]
however using `--legacy-peer-deps` seems to workaround the problem

[2022-04-09 16:28] VittorioAccomazzi commented on #112
I need `localDependency` as well. It is currently [in the documentation](https://useworker.js.org/docs/api-useworker) and I was relying  on it. Is there any workaround for this ? I'm using create react app, and I do not know the file where the worker will be bundled, and so I'm not able to use `remoteDependencies`

[2022-04-22 09:48] reviewher opened #119 "using `kill()` does not fully reset state"
https://github.com/alewin/useWorker/blob/master/packages/useWorker/src/useWorker.ts#L64

If the `kill` method is called from user code, `isRunning` is never reset and https://github.com/alewin/useWorker/blob/master/packages/useWorker/src/useWorker.ts#L149 error is tripped the next time the worker is used.

`setWorkerStatus(WORKER_STATUS.ERROR)` or `isRunning.current = false` in that spot fixes the

[2022-05-17 01:49] ashish-r opened #120 "Incorrect URL of Transferable Objects for MDN"
**[Required] Describe the bug**
The URL for Transferable Objects pointing on MDN inside docs is incorrect

**[Optional] To Reproduce**
Steps to reproduce the behavior:
1. Go to https://useworker.netlify.app/docs/api-useworker/#options-api
2. Click on Transferable Objects
4. See error [MDN giving 404]

**[Required] Expected behavior**
It should redirect to: https://developer.mozilla.org/en-US/docs/

[2022-05-17 01:53] ashish-r commented on #120
Created a pull request for the fix: https://github.com/alewin/useWorker/pull/121

@alewin please verify

[2022-05-17 05:44] ashish-r commented on #119
In [this](https://icji4.csb.app/sorting) sorting example also, the kill functionality is not working.

[2022-05-18 18:47] #120 closed

[2022-05-19 11:05] ashish-r commented on #119
Created the PR for fix [here](https://github.com/alewin/useWorker/pull/122)

@alewin @zant please review

[2022-05-20 14:35] reese1515 opened #123 "Compatability Issue with react@17.0.2"
I'm using react ^17.0.2 and when I attempted to do the install i'm getting the following error
$ npm install --save @koale/useworker
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: client-app@0.1.0
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"^17.0.2" from the root project
npm ERR!
npm ERR! Could not resolv

[2022-05-21 07:12] ashish-r commented on #118
There is n issue with the kill functionality of the library, I have created a fix for the same. Waiting for the maintainers to review and merge the same.
https://github.com/alewin/useWorker/pull/122

[2022-05-21 07:14] ashish-r commented on #115
There is an issue with the kill functionality of the library, I have created a fix for the same. Waiting for the maintainers to review and merge the same.
https://github.com/alewin/useWorker/pull/122

[2022-05-21 07:18] ashish-r commented on #97
This is due to webpack transpiling your code. When you use `...` to restructure an array, webpack will transpile this code, and change `...` to use some other utility to copy the array. This will make your function impure.

[2022-05-21 07:22] ashish-r commented on #76
Mentioned here: https://github.com/alewin/useWorker/issues/87#issuecomment-699662483

[2022-06-07 11:52] empawlo commented on #123
Ran into the same error, please help. In addition, it would be ideal to also support React 18.

[2022-08-07 11:47] QC2168 commented on #85
I have same problem

[2022-08-07 14:20] QC2168 opened #124 "how inject dependence for worker function"
I have a dependency property in a function that depends on methods in other modules.
I found the localDependency property in the documentation, but it does not solve my problem.
So I checked the source code of the useWorker and found that the localDependency property is commented out

[code]

[2022-08-10 17:00] qmn1711 opened #125 "Uncaught NetworkError for cron-parser"
I want to use cron-parser in my worker but useWorker can't load it, even with the example code like this:

[code]

_**Message of ErrorEvent**_:
`Uncaught NetworkError: Failed to execute 'importScripts' on 'WorkerGlobalScope': The script at 'https://cdn.jsdelivr.net/npm/cron-parser@4.6.0/lib/parser.min.js' failed to load."`

I can run successfully with [the remoteDependencies example](https://usewo

[2022-08-13 07:29] Arif-un commented on #119
Still the same problem, any update on this issue?

[2022-08-13 07:29] TianJianJun727 commented on #119
这是来自QQ邮箱的假期自动回复邮件。你好，我最近正在休假中，无法亲自回复你的邮件。我将在假期结束后，尽快给你回复。

[2022-08-13 08:11] ashish-r commented on #119
@Arif-un [this](https://github.com/alewin/useWorker/pull/122) pr is still not merged.

@alewin @zant guys the PR is approved, anything I should change/take care of? If not can we please merge?

[2022-08-15 02:33] #124 closed

[2022-09-12 22:14] nandosangenetto opened #126 "How to test a custom hook using useWorker?"

[2022-09-12 22:18] nandosangenetto commented on #126
More context, this is the hook I'm testing:
[code]

And the test file:
[code]

[2022-09-13 00:27] nandosangenetto commented on #126
It seems related to developit/jsdom#16

[2022-09-13 00:29] nandosangenetto commented on #126
It seems related to https://github.com/developit/jsdom-worker/issues/16

[2022-09-17 03:46] aurelien-boubennec commented on #85
Same issue

[2022-11-10 03:05] jonbeacherdomuso commented on #117
I have the same issue and I cant fix with --legacy-peer-deps

[2022-11-29 18:04] nrgapple commented on #123
Any update on compatibility with new react versions?